html {
  font-size: 16px;
  line-height: 1.4;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Space Mono", sans-serif;
}

.container {
  background-color: #fff;
}

header p {
  font-size: 24px;
  color: #333;
  font-weight: 700;
  padding: 10px 30px;
}

main {
  height: 100vh;
}

.scarecrow {
  height: 220.352px;
  width: 286.83px;
  display: block;
  margin: 70px auto;
}

.text {
  padding: 10px 20px;
  letter-spacing: -0.035em;
}

.text h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 71px;
}

.text p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-top: 30px;
  color: #aaaaaa;
}

button {
  margin: 50px 0;
  background-color: #333;
  color: white;
  border: none;
  padding: 23px 40px;
  cursor: pointer;
  font-size: 14px;
}

footer p {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  main {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-content: space-evenly;
  }

  .image {
    grid-column: 1/7;
  }

  .text {
    padding: 0;
    grid-column: 7/12;
  }

  .scarecrow {
    height: 414.249px;
    width: 539.224px;
    margin: 0 auto;
  }

  .text h1 {
    font-size: 60px;
    line-height: 95px;
  }

  .text p {
    font-size: 28px;
    line-height: 36px;
  }
}
